p {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Prata', serif;
  font-size: 30pt;
}

h2 {
  font-family: 'Prata', serif;
  font-size: 20pt;
}

h3 {
  font-family: 'Prata', serif;
  font-size: 15pt;
}

a.navbar-brand {
  font-family: 'Prata', serif;
}

.nav {
  font-family: 'Prata', serif;
}

.bg-dark {
  background-color: black !important;
}

a.nav-link {
  color: white;
}

.jumbotronBack {
  height: auto;
  background-image: url(../Images/background_peony_jumbotron.jpg) !important;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;  
}

.container {
  justify-content: center;
}

#caseContent {
  /*outline: solid red 1px;*/
  width: 85%;
  margin: auto;
  padding: 20px;
  border-style: double;
}

h2.sectionHead {
  outline: solid red 1px;
  text-align: center;
  margin: 30px;
}

.col {
  margin-bottom: 20px;
  outline: solid red 1px;
  width: 100%;
}

p {
  margin-bottom: 50px;
}

.col {
  
}

#userPersona {
  width: 100%;
  padding-bottom: 30px;
}

#userFlow {
  width: 100%;
  padding-bottom: 30px;
}

#competitorA {
  width: 100%;
}

#wireframes {
  width: 100%;
}

#styleGuide {
  width: 100%;
}

#affinityMap {
  width: 100%
}

#testing {
  width: 100%;
}

footer {
  padding-top: 40px;
  background-color: black;
  width: 100%;
  color: white;
}

footer p {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}